[submodule ".nodenv"]
	path = .nodenv
	url = https://github.com/nodenv/nodenv.git
[submodule ".pyenv"]
	path = .pyenv
	url = https://github.com/pyenv/pyenv.git
[submodule "emacs.d"]
	path = emacs.d
	url = git@codeberg.org:luelvira/clayemacs.git
