[Desktop Entry]
Name=Emacs Server
GenericName=Text Editor
Comment=Edit text daemon
Exec= /home/lucas/.local/bin/launch_emacs.sh
Terminal=true
Type=Application
Icon=emacs
Categories=Development;
StartupNotify=true
